linksh/migrations
linksh/__pycache__
LinkShortener/migrations
LinkShortener/__pycache__




###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.sqlite3


############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
